{% load static %}
<!DOCTYPE html>
	<html lang="ru">
		<head>
			<title>{{title}}</title>
			<link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script>
				var csrf_token = "{{csrf_token}}"
			</script>

		</head>
		<body>


		<div id="infinite-scroll">
		<table class="table-page" border=0 cellpadding="0" cellspacing="0">
		<tr><td valign=top>
		{% block mainmenu %}
				<div class="header">
					<ul id="mainmenu" class="mainmenu">
					<li class="logo"><a href="{% url 'home' %}"><div class="logo"><img class = logo src="{% static 'women/images/logo.png' %}"></div></a></li>
		{% for m in menu %}
			{% if not forloop.last %}
					<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
			{% else %}
					<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
			{% endif %}
		{% endfor %}
					</ul>
					<div class="clear"></div>
				</div>
		{% endblock mainmenu %}


		<table class="table-content" border=0 cellpadding="0" cellspacing="0">
		<tr>
		<!-- Sidebar слева -->
			<td valign="top" class="left-chapters">
			<ul id="leftchapters">
			{% if cat_selected == 0 %}
				<li class="selected">Все категории</li>
			{% else %}
				<li><a href="{% url 'home' %}">Все категории</a></li>
			{% endif %}

			{% for c in cats %}
				{% if c.pk == cat_selected %}
					<li class="selected">{{c.name}}</li>
				{% else %}
					<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</td>
		<!-- Конец Sidebar'а -->
		<td valign="top" class="content">
			<!-- Хлебные крошки -->
			{% block breadcrumbs %}
			{% endblock %}

		<!-- Блок контента -->
			<div class="content-text">
		{% block content %}
		{% endblock %}
			</div>
		<!-- Конец блока контента -->

		</td>
			</tr></table>
			</td></tr>
			<!-- Footer -->
			<tr>
			<td valign=top>
			</td></tr>
			</table>
			<!-- Конец footer'а и страницы -->
		</body>
	<script type="text/javascript" src={% static "women/js/script.js" %}></script>
		<script>
			async function addLike(id,element){
   					var res = await  postData('/set-like/',{id:id})
   					console.log(res)
			}

document.querySelectorAll(".btn-like-add").addEventListener('click',(e)=>{
    debugger
})
async function postData(url = "", data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: "POST", // *GET, POST, PUT, DELETE, etc.
    mode: "cors", // no-cors, *cors, same-origin
    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
    credentials: "same-origin", // include, *same-origin, omit
    headers: {
      "Content-Type": "application/json",
      'X-CSRFToken': csrf_token
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: "follow", // manual, *follow, error
    referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data), // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}

function post(url,data,onSuccess){
var xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 20fetch example
    0) {


      var responseObj = JSON.parse(this.responseText);
      onSuccess(responseObj)

    }
  };
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("X-CSRFToken",csrf_token)
  xhttp.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
  xhttp.send(JSON.stringify(data));

  }

		</script>
	</html>


