{% extends 'women/base.html' %}
{% load static %}


{% block content %}
<ul class="list-articles">
	{% for p in posts %}
		<li>
			<div class="article-panel">
				<p class="first">Категория: {{p.cat}}</p>
				<p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
			</div>

			{% if p.photo %}
				<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
			{% endif %}

			<h2><a href="{% url 'post' p.pk %}">{{p.title}}</a></h2>

			<div class="counter" >

					<div class="counter__input">
						<p>Нравится: <span id="like-count_{{p.id}}">{{p.like_count}}</span></p>
					</div>
				{% if request.user.is_anonymous %}
					<img src="{% static 'women/images/like.png' %}" width="30" height="30">
				{% else %}
					<img onclick="addLike('{{p.id}}',this)" src="{% static 'women/images/like.png' %}" width="30" height="30">
				{% endif %}


			</div>

	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{% url 'post' p.pk %}">Читать пост</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}

{% block extra_js %}
<script>
			async function addLike(id,element){
   					var res = await  postData('/set-like/',{id:id})
   					console.log(res)
   					document.querySelector(`#like-count_${id}`).innerHTML = res.likes_count
			}


async function postData(url = "", data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: "POST", // *GET, POST, PUT, DELETE, etc.
    mode: "cors", // no-cors, *cors, same-origin
    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
    credentials: "same-origin", // include, *same-origin, omit
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": csrf_token
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: "follow", // manual, *follow, error
    referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data), // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}



		</script>
{% endblock %}